.title-bar {
  color: #f3a718;
  padding-right: 10%;
}
.center {
  text-align: center;
  margin: 0 auto;
}
.right {
  text-align: right;
}
a {
  font-weight: 600;
}
.main-content {
  display: flex;
  justify-content: left;
}
.main-content > img {
  border: 1px solid #333;
}
.right-sidebar {
  margin: auto 8px;
}
.right-sidebar > img {
  padding-left: 96px;
}
